@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;700;900&display=swap");

body {
  margin: 0 auto;
  font-family: "Inter", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vmin;
  background-color: #1e1f2b;
  overflow-y: auto;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 75px;
  width: 50vw;
  min-height: 50vh;
  background-color: #ffffff08;
  color: white;
  border-radius: 6px;
}

.heading {
  margin: 45px 0;
}

.divider {
  width: 75%;
  margin: 25px 0;
  border-radius: 2px;
  border: 1px solid rgba(255, 255, 255, 0.6);
}

.todo-input-base {
  display: flex;
  gap: 0 16px;
}

.todo-input {
  padding: 10px 35px;
  background-color: #ffffff08;
  border-radius: 6px;
  border: none;
  color: white;
  font-size: 16px;
  line-height: 28px;
}

.todo-input:focus {
  outline: none;
}

.todo-item {
  display: flex;
  gap: 0 16px;
  margin: 16px 0;
  justify-content: space-between;
}

.todo-item-text {
  padding: 10px 35px;
  background-color: #252632;
  border-radius: 6px;
  border: none;
  color: white;
  font-size: 16px;
  line-height: 28px;
}

.todo-item-text:focus {
  background-color: rgba(255, 255, 255, 0.05);
  outline: none;
}

.todo-item > button {
  padding: 10px 35px;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 6px;
  border: none;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
}

.todo-item > button:hover {
  background-color: #2ba386;
}

.btn {
  padding: 10px 35px;
  background-color: #2ba386;
  border-radius: 6px;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 28px;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.75;
}
