body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: #1e1f2b;
  color: white;
  scroll-behavior: smooth;
}

/* Header Section */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 60px;
}

.logo {
  padding: 15px;
  font-size: 20px;
  line-height: 24px;
  background-color: white;
  color: black;
  border-radius: 6px;
}

nav {
  display: flex;
  align-items: center;
}

nav > li {
  list-style: none;
  margin: 0 30px;
}

nav > li > a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

nav > li > a:hover {
  cursor: pointer;
  color: white;
}

.btn {
  cursor: pointer;
}

.btn:hover {
  opacity: 90%;
}

.btn-hire-me {
  padding: 10px 35px;
  background-color: #2ba386;
  border-radius: 6px;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 28px;
}

.btn-cta {
  margin: 45px 0;
  display: flex;
  align-items: center;
}

.btn-cta > a {
  padding-right: 12px;
  text-decoration: none;
  font-size: 16px;
  line-height: 19px;
  color: white;
}

/* Hero Section */

#hero {
  display: flex;
  justify-content: center;
  padding: 30px 75px;
  height: 100%;
  background-image: url("./assets/bg-line.svg");
  background-repeat: no-repeat;
  background-position: bottom left;
}

.hero-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.hero-title > h1 {
  font-size: 40px;
  font-weight: normal;
  line-height: 54px;
}

.hero-title > h1 > span {
  font-weight: bold;
}

.hero-title > h1 > span {
  font-weight: bold;
}

.hero-title > p {
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  max-width: 70%;
  color: rgba(255, 255, 255, 0.6);
}

.hero-image {
  background-image: url("./assets/bg-line.svg");
  background-position: top;
}

.hero-image > img {
  width: 425px;
}

.btn-cta > img {
  transform: rotate(90deg);
}

/* Overview Section */

#overview {
  display: flex;
  justify-content: space-between;
  padding: 30px 75px;
  height: 100%;
  background-image: url("./assets/bg-line.svg");
  background-repeat: no-repeat;
  background-position: bottom left;
}

.overview-title > h1 {
  position: relative;
  font-size: 40px;
  line-height: 54px;
}

.overview-title > span {
  font-weight: bold;
  position: absolute;
  font-size: 100px;
  color: #ffffff08;
  margin-top: -110px;
  user-select: none;
  z-index: -10;
}

.content-overview > p {
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  max-width: 70%;
  color: rgba(255, 255, 255, 0.6);
}

.overview-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("./assets/bg-line.svg");
  background-position: center;
}

.overview-image > img {
  width: 425px;
  border-radius: 10px;
  transform: skew(-3deg);
}

.overview-image > p {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.6);
}

/* Contact Section */

#contact {
  display: flex;
  justify-content: space-between;
  padding: 30px 75px;
  height: 100%;
}

.contact-title > h1 {
  position: relative;
  font-size: 40px;
  line-height: 54px;
}

.contact-title > span {
  font-weight: bold;
  position: absolute;
  font-size: 100px;
  color: #ffffff08;
  margin-top: -110px;
  user-select: none;
  z-index: -10;
}

.content-contact > p {
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  max-width: 70%;
  color: rgba(255, 255, 255, 0.6);
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

form > label {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

form > label > .form-name {
  padding: 10px 35px;
  background-color: #ffffff08;
  border-radius: 6px;
  border: none;
  color: white;
  font-size: 16px;
  line-height: 28px;
}

form > label > .form-email {
  padding: 10px 35px;
  background-color: #ffffff08;
  border-radius: 6px;
  border: none;
  color: white;
  font-size: 16px;
  line-height: 28px;
}

form > .form-message {
  padding: 10px 35px;
  background-color: #ffffff08;
  border-radius: 6px;
  border: none;
  color: white;
  font-size: 16px;
  line-height: 28px;
  resize: none;
}

form > button {
  padding: 10px 35px;
  background-color: #2ba386;
  border-radius: 6px;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 28px;
  cursor: pointer;
}

.form:focus {
  outline: none;
}

.icon {
  display: flex;
  align-items: center;
  padding: 25px 0;
}

.wrapper-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  width: 60px;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.05);
}

.icon-description {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 25px;
}

.icon-description > h5 {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 16px;
}

.icon-description > p {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 20px;
}

.icon-description > p > a {
  text-decoration: none;
  color: inherit;
}
