body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkmagenta;
}

.navbar h1 {
  color: white;
  font-weight: bold;
}

.content {
  background-color: aqua;
  padding: 1rem;
  margin: 1rem;
}

.content h1 {
  font-weight: bold;
}
